.BmiContainer {
    position: relative;
    margin-bottom: 40px;
}

.Container {
    background: var(--background3Color);
    border-radius: 12px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-in-out;
}

.IsShown {
    opacity: 1;
    transform: translateY(0);
}

.SubContainer {
    overflow: hidden;
    padding: 24px 16px 81px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgb(22 42 65 / 6%), 0 12px 24px rgb(7 21 37 / 8%);
}

.HeaderRow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 62px;
}

.Header {
    color: var(--neutral900Color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
}

.Label {
    padding: 4px 8px;
    border: 1px solid var(--neutral400Color);
    border-radius: 6px;
    color: var(--neutral400Color);
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .1px;
    line-height: 1.6;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.ScaleContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
}

.ScaleSlider {
    position: absolute;
    z-index: 1;
    top: -8px;
    display: inline-block;
    /* opacity: 0; */
}

.ScaleSliderIsShown {
    opacity: 1;
    transition: opacity 1s ease-in-out 1s,left 1s ease-in-out 1.5s;
}

.SliderLabel {
    position: absolute;
    top: -37px;
    left: 50%;
    min-width: 89px;
    padding: 4px 0;
    background: var(--neutral700Color);
    border-radius: 4px;
    box-shadow: 0 3px 8px rgb(0 0 0 / 25%);
    color: var(--whiteColor);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 1.33;
    /* opacity: 0; */
    text-align: center;
    transform: translate(-50%,5px);
}

.SliderLabelArrowImage {
    position: absolute;
    z-index: 1;
    top: -15px;
    width: 16px;
    height: 8px;
    content: "";
    /* opacity: 0; */
    transform: translateY(5px);
}

.SliderDot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid var(--shadow20Neutral700Color);
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 7px rgb(68 70 64 / 30%);
    /* opacity: 0; */
}

.Scale {
    height: 8px;
    flex: 0 0 100%;
    background: linear-gradient(90deg,#96d9ff,#b7f5a8 31.77%,#f9eb7c 66.15%,#fc806e);
    border-radius: 27px;

    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.MinimumScaleValue {
    top: 100%;
    margin-top: 13px;
    color: var(--neutral400Color);
    font-size: 10px;
    font-weight: 600;
    line-height: 1.6;
    opacity: 0;

    opacity: 1;
    transition: opacity 1s ease-in-out 1s;
}

.IsSelected {
    color: var(--neutral900Color);
}

.Divider {
    width: 100%;
    height: 1px;
    background-color: var(--neutral200Color);
    content: "";
}

.Image {
    position: absolute;
    z-index: 1;
    right: 11px;
    bottom: 48px;
    width: 100%;
    max-width: 167px;
    opacity: 0;
    transform: translateX(20px);
    transition: all 1s ease-in-out 2s;
    opacity: 1;
    transform: translateX(0);
}

.NoteContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    border-top: 2px solid var(--neutral200Color);
    background-color: var(--background3Color);
    border-radius: 0 0 12px 12px;
}

.NoteContainer:before {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--shadow4Neutral900Color);
    border-radius: 0 0 12px 12px;
    box-shadow: 0 2px 6px rgb(22 42 65 / 6%), 0 12px 24px rgb(7 21 37 / 8%);
    content: "";
}

.NoteText {
    position: relative;
    padding-left: 10px;
    color: var(--neutral700Color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
}

.NoteText:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 16px;
    background-color: var(--primary400Color);
    border-radius: 4px;
    content: "";
}

.NoteText b {
    font-weight: 600;
}