.ParasiteContainer {
    margin: 0 auto;
}

.TitleFadeContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    height: 100%;
    justify-content: center;
}

.FixedButtonContainer {
    width: 100%;
    position: fixed;
    right: 0;
    padding: 20px 0 0;
    z-index: 11;
    bottom: 0;
    padding-bottom: 32px;
}

.TitleFadeList {
    list-style: none;
}

.Element {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px) {
    .ParasiteContainer {
        margin: 0 auto;
    }
}