.ParasiteContainer {
    margin: 0 auto;
}

.TitleFadeContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    height: 100%;
    justify-content: center;
}

.TitleFadeList {
    list-style: none;
}

.Element {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px) {
    .ParasiteContainer {
        margin: 0 auto;
    }
}