.Container {
    height: 100%;
    display: flex;
    padding-top: 48px;
    background-color: var(--background1Color);
}

.ParContainer {
    min-height: calc(100vh - 48px);
    display: flex;
    padding-top: 80px;
    padding-bottom: 110px;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    min-height: calc(100vh);
    height: calc(100%);
}

.ImageContainer {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 57%;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.25));
}

.LeftImage {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    max-width: 100%;
    max-height: 85%;
    transform: translate(-50%,-50%);
}

.ContentContainer {
    background-color: var(--background1Color);
    padding-top: 32px;
    width: 43%;
    margin-left: auto;
}

.RightImage {
    display: none;
}

@media (max-width: 500px) {
    .ImageContainer {
        display: none;
    }
    .ContentContainer {
        padding: 0;
        width: 100%;
    }
    .RightImage { 
        display:inline;
        position: fixed;
        z-index: 0;
        bottom: 0;
        left: 0;
        width: 60%;
        height: auto;
    }

    .ParContainer {
        padding-top: 48px;
    }
}