.HintContainer {
    position: relative;
    border: 1px solid var(--neutral200Color);
    color: var(--neutral900Color);
    cursor: default;
    margin: 16px 0;
    background: var(--neutral100Color);
    border-radius: 10px;
    font-size: 14px;
} 

.HintTitle {
    padding: 20px;
}

.HintCaption{
    padding: 10px 15px;
    text-align: justify;
}

.HR {
    margin: 0 15px;
    border: none;
    background-color: var(--primary400Color);
    height: 1px;
}