.Element {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.TransitionText {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #1380b2;
}

.TransitionText1 {
    animation: fade-out 5s forwards ;
    font-size: 28px;
}

.TransitionText2 {
    animation: fade-in 5s forwards ;
    font-size: 28px;
    padding-bottom: 15px;
}

@keyframes fade-out {
    0% {  opacity: 1; } 
    100% {  opacity: 0; transform: translateY(-100%); } 
}

@keyframes fade-in {
    0% {  opacity: 0; } 
    100% {  opacity: 1; transform: translateY(-100%); } 
}