.Container {
    position: fixed;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    padding: 0px 40px;
    background-color: transparent;
}

.me {
    background-color: var(--light-red);
    padding: 10px 7px 10px 7px;
    color: white;
    border-radius: 10px;
    align-items: center;
}
