@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --light-red: #df4142;
  --background-color: #F7F8F9;
  --light-black: #090a0a;
  --light-gray: #abb3c0;
  --neutral200Color: #eaeef2;
  --neutral600Color: #8490a1;
  --neutral900Color: #090a0a;
  --primary400Color: #df4142;
}

body {
  font-size: 14px;
  background-color: var(--background-color);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
