.Container {
    text-align: center;
    padding-top: 100px;
}

.TextList {
    list-style: none;
    padding: 0;
}

.i1, .i2, .i3, .i4, .i5, .i6 {
    font-size: 16px;
    padding: 5px;
    font-weight: 700;
}
    
.i1 {
    color: black;
    animation: fade-in-item 1s 1.5s ease-out forwards,
        move-top1 1s 1.5s ease-out forwards;

}

.i2 {
    color: var(--neutral900Color);
    animation: fade-in-item 1s 3s ease-out forwards, 
        move-top1 1s 1.5s ease-out forwards,
        move-top2 1s 3s ease-out forwards;
}

.i3 {
    color: var(--neutral800Color);
    animation: fade-in-item 1s 4.5s ease-out forwards, 
        move-top1 1s 1.5s ease-out forwards, 
        move-top2 1s 3s ease-out forwards,
        move-top3 1s 4.5s ease-out forwards;
}

.i4 {
    color: var(--neutral700Color);
    animation: fade-in-item 1s 6s ease-out forwards, 
        move-top1 1s 1.5s ease-out forwards, 
        move-top2 1s 3s ease-out forwards, 
        move-top3 1s 4.5s ease-out forwards,
        move-top4 1s 6s ease-out forwards
}

.i5 {
    color: var(--neutral600Color);
    animation: fade-in-item 1s 7.5s ease-out forwards, 
        move-top1 1s 1.5s ease-out forwards, 
        move-top2 1s 3s ease-out forwards, 
        move-top3 1s 4.5s ease-out forwards, 
        move-top4 1s 6s ease-out forwards,
        move-top5 1s 7.5s ease-out forwards
}

.i6 {
    color: var(--neutral500Color);
    animation: fade-in-item 1s 9s ease-out forwards, 
        move-top1 1s 1.5s ease-out forwards, 
        move-top2 1s 3s ease-out forwards, 
        move-top3 1s 4.5s ease-out forwards, 
        move-top4 1s 6s ease-out forwards, 
        move-top5 1s 7.5s ease-out forwards,
        move-top6 1s 9s ease-out forwards;
}
  
@keyframes move-top1 {
    100% {  transform: translateY(-100%); } 
}
  
@keyframes move-top2 {
    100% {  transform: translateY(-200%); } 
}
  
@keyframes move-top3 {
    100% {  transform: translateY(-300%); } 
}
  
@keyframes move-top4 {
    100% {  transform: translateY(-400%); } 
}
  
@keyframes move-top5 {
    100% {  transform: translateY(-500%); } 
}
  
@keyframes move-top6 {
    100% {  transform: translateY(-600%); } 
}

@keyframes fade-in-item {
    0%   {  opacity: 1;  }
    20% {  opacity: .8; }
    40% {  opacity: .6; }
    60% {  opacity: .4; } 
    80% {  opacity: .2; } 
    100% {  opacity: 0; display: none;} 
}

.MuiCircularProgress-circle{
    color: var(--primary500Color);
    font-size: 20px;
}

.MuiCircularProgress-circle div {
    font-size: 40px !important ;
    color: black !important ;
}