.QuizContainer{
    position: relative;
    min-height: 100%;
    background: var(--background1Color);
}

.Indicator {
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 500px) {
    .QuizContainer {
        z-index: 1;
        background-color: transparent;
    }
}